<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-cn">
<head>
    <title>我要上名校</title>
    <meta itemprop="name" content="我要上名校" />
    <meta name="keywords" content="我要上名校" />
    <meta name="description" content="我要上名校" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/config.js}"></script>
</head>
<body class="graduate">
<div class="notice-main">
    <div class="again-btn" onclick="trueGame()"></div>
    <div class="follow-btn" onclick="openGuide()"></div>
    <div class="photoPic">
        <img id="photoPic"/>
        <div class="photo-per"></div>
        <div class="photo-text zoom-light-animate"></div>
    </div>
    <div class="attention-btn" onclick="openFollow()"></div>
</div>
<div class="cd-popup ">
    <div class="cd-popup-container">
        <img th:src="@{/images/chihan.png}"/>
        <div class="cd-popup-close" onclick="closeFollow()"></div>
    </div>
    <form action="/game.htm" id="page" method="post"></form>
</div>
<div class="cguide-cd-popup ">
    <div class="guide-icon yx-none"></div>
    <div class="guide-bottom-icon yx-none"></div>
</div>

</body>
<script>
    $(window).ready(function () {
        //QQ或者微信打开页面
        if(browser.isQQ() || browser.isWeiXin()){
            $('.guide-icon').removeClass("yx-none");
        }
        //其他浏览器打开页面
        else{
            $('.guide-bottom-icon').removeClass("yx-none");
        }
    });
    $("#photoPic").attr('src',"data:image/jpg;base64,"+localStorage.getItem("photoPic"));

    $('.notice-main').height($(document).height());

    function openFollow(){
        $(".cd-popup").addClass("is-visible")
    }
    function closeFollow(){
        $(".cd-popup").removeClass("is-visible")
    }

    function trueGame(){
        $('#page').submit();
    }
    function openGuide() {
        $(".cguide-cd-popup").addClass("is-visible")
    }
    $('.cguide-cd-popup').click(function () {
        $(this).removeClass("is-visible")
    });
</script>
</html>