<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-cn">
<head>
    <title>EP雅莹-圣诞活动</title>
    <meta itemprop="name" content="EP雅莹-圣诞活动" />
    <meta name="keywords" content="EP雅莹-圣诞活动" />
    <meta name="description" content="EP雅莹-圣诞活动" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/config.js}"></script>
    <script th:src="@{/js/jquery.cookie.js}"></script>
</head>
<body>

</body>
</html>