<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-cn">
<head>
    <title>我要上名校</title>
    <meta itemprop="name" content="我要上名校" />
    <meta name="keywords" content="我要上名校" />
    <meta name="description" content="我要上名校" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/config.js}"></script>
    <script th:src="@{/js/layer.js}"></script>
    <script th:src="@{/js/jquery.cookie.js}"></script>
    <script th:src="@{/js/exif.js}"></script>
    <script th:src="@{/js/game/hidpi-canvas.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/game/common.js}"></script>
</head>
<body>
<div class="upload-main">
    <div id="box">
        <div class="upload-btn" id="upload"></div>
    </div>
    <div class="creat-pic-btn" onclick="cutImg()"></div>
    <div class="bottom-btn yx-none" onclick="uploadProfile()"></div>
    <div class="user-name yx-none"><input placeholder="请输入姓名"  onchange="chkmaxsms(this)" /></div>
    <div class="uploading"></div>
    <form action="/graduate_photo.htm" id="page" method="post"></form>
    <div id="inp"></div>
</div>
</body>
<script th:src="@{/js/uploadPic.js}"></script>
</html>